<div class="top">
    <div class="left">
      <div class="symbol">The Foodyssey Haven</div>
    </div>
  
    <div class="Menubar">
      <a routerLink="/home">Home</a>
      <a routerLink="/menu">Menu</a>
      <a routerLink="/about">AboutUs</a>
      <a routerLink="/feedback">Feedback</a>
    </div>
  
    <div class="right">
      <button id="button" (click)="navigateToLogin()">Sign In</button>
    </div>
  
    <div class="openBtn">
      <div class="menuCard">Order Online</div>
      <button (click)="openDialog('one')">Soups and Appetisers</button>
      <button (click)="openDialog('two')">Main Course</button>
      <button (click)="openDialog('three')">Roti and Rice</button>
      <button (click)="openDialog('four')">Desserts and <br> Fix Thali</button>
    </div>
  
    <!-- Dialog One -->
    <dialog #dialogOne>
      <form method="dialog">
        <h2>~ Soups ~</h2>
        <div *ngFor="let item of soups">
          <p class="itemBox">
            {{item.name}} - {{item.price}} Rs.
            <button class="addbtn" (click)="addToCart(item)">Add</button>
          </p>
          <hr />
        </div>
        <h2>~ Appetisers ~</h2>
        <div *ngFor="let item of appetisers">
          <p class="itemBox">
            {{item.name}} - {{item.price}} Rs.
            <button class="addbtn" (click)="addToCart(item)">Add</button>
          </p>
          <hr />
        </div>
        <button (click)="closeDialog('one')">Close</button>
      </form>
    </dialog>
  
    <!-- Dialog Two -->
    <dialog #dialogTwo>
      <form method="dialog">
        <h2>~ Main Course ~</h2>
        <div *ngFor="let item of mainCourse">
          <p class="itemBox">
            {{item.name}} - {{item.price}} Rs.
            <button class="addbtn" (click)="addToCart(item)">Add</button>
          </p>
          <hr />
        </div>
        <button (click)="closeDialog('two')">Close</button>
      </form>
    </dialog>
  
    <!-- Dialog Three -->
    <dialog #dialogThree>
      <form method="dialog">
        <h2>~ Roti ~</h2>
        <div *ngFor="let item of roti">
          <p class="itemBox">
            {{item.name}} - {{item.price}} Rs.
            <button class="addbtn" (click)="addToCart(item)">Add</button>
          </p>
          <hr />
        </div>
        <h2>~ Rice ~</h2>
        <div *ngFor="let item of rice">
          <p class="itemBox">
            {{item.name}} - {{item.price}} Rs.
            <button class="addbtn" (click)="addToCart(item)">Add</button>
          </p>
          <hr />
        </div>
        <button (click)="closeDialog('three')">Close</button>
      </form>
    </dialog>
  
    <!-- Dialog Four -->
    <dialog #dialogFour>
      <form method="dialog">
        <h2>~ Desserts ~</h2>
        <div *ngFor="let item of desserts">
          <p class="itemBox">
            {{item.name}} - {{item.price}} Rs.
            <button class="addbtn" (click)="addToCart(item)">Add</button>
          </p>
          <hr />
        </div>
        <h2>~ Fix Thali ~</h2>
        <div *ngFor="let item of thali">
          <p class="itemBox">
            {{item.name}} - {{item.price}} Rs.
            <button class="addbtn" (click)="addToCart(item)">Add</button>
          </p>
          <hr />
        </div>
        <button (click)="closeDialog('four')">Close</button>
      </form>
    </dialog>
  
    <!-- Food Cart Section -->
    <div class="container">
      <div class="YourFoodCart">
        <h2 class="text-center mt-5">Your Food Cart</h2>
        <div id="cart" class="mb-5">
          <div *ngFor="let item of cartItems">
            {{item.name}} - {{item.price}} Rs.
          </div>
        </div>
        <div class="checkout">
          <p id="cart-total">Cart Total: {{cartTotal}} Rs.</p>
          <input type="submit" value="Proceed to Pay" class="Paybtn" (click)="proceedToPay()">
        </div>
      </div>
    </div>
  
    <!-- Footer -->
    <footer>
      <div class="footer-container">
        <div class="left_footer">
          <div class="l">The Foodyssey Haven</div>
        </div>
  
        <div class="footer-info">
          <p class="address"><i class="uil uil-map-marker"></i>Shoppers Arcade, near Adani college, Adani Shantigram, Ahmedabad - 382352</p>
          <p class="phone"><i class="uil uil-phone"></i>0123456789</p>
          <p><i class="uil uil-envelope"></i>TheFoodysseyHaven&#64;restau.com</p>
        </div>
  
        <div class="footer-social">
          <a href="https://x.com/?lang=en" class="fa fa-twitter" target="_blank"></a>
          <a href="https://www.facebook.com/" class="fa fa-facebook" target="_blank"></a>
          <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
        </div>
      </div>
  
      <div class="footer-bottom">
        <div class="navigation_footer">
          <a routerLink="/home">Home</a>
          <a routerLink="/menu">Menu</a>
          <a routerLink="/about">AboutUs</a>
          <a routerLink="/feedback">Feedback</a>
        </div>
        <p>&copy; 2024 The Foodyssey Haven. All rights reserved.</p>
        <p>The Foodyssey Haven Co.</p>
      </div>
    </footer>
  </div>
  
