<div class="navbar-container">
    <div class="left">
      <div class="symbol">TheFoodysseyHaven</div>
    </div>
  
    <div class="navbar">
      <a routerLink="/" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;Home</a>
      <a routerLink="/menu" routerLinkActive="active">Menu</a>
      <a routerLink="/aboutus" routerLinkActive="active">About Us</a>
      <a routerLink="/feedback" routerLinkActive="active">Feedback&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>
  
    <div class="right">
      <button id="button" (click)="openLogin()">Sign In</button>
    </div>
  </div>
  