
<div class="top">
    <div class="left">
      <div class="symbol">The Foodyssey Haven</div>
    </div>
  
    <div class="Menubar">
      <a routerLink="/homepage">Home</a>
      <a routerLink="/menu">Menu</a>
      <a routerLink="/about-us">About Us</a>
      <a routerLink="/feedback">Feedback</a>
    </div>
  
    <div class="right">
      <button id="button" (click)="navigateToLogin()">Sign In</button>
    </div>
  </div>
  
  <div class="container">
    <div class="rightbox">
      <div class="boxcontent">
        <h3 class="til1">Our timings</h3>
        <p>Weekends:<br>10:30am - 11:30pm</p>
        <p>Weekdays:<br>10:30am - 12:00pm</p>
      </div>
    </div>
  
    <h2 class="subtitle">Feedback Form</h2>
    <p class="description" style="line-height: 16px;">Your feedback is important to us. <br>Please take a moment to provide your feedback below.</p>
  
    <form (ngSubmit)="onSubmit(feedbackForm)" #feedbackForm="ngForm">
      <div class="FBForm">
        <label for="name" class="Lname">Name:</label>
        <input type="text" class="field" placeholder="Please tell us your name" name="name" ngModel required>
      </div>
  
      <div class="FBForm">
        <label for="email" class="Lname">Email:</label>
        <input type="email" class="field" placeholder="Share your Email with us" name="email" ngModel required>
      </div>
  
      <div class="FBForm">
        <label for="message" class="Lname">Message:</label>
        <textarea class="field" placeholder="We'd love to hear your thoughts and suggestions" name="message" ngModel required></textarea>
      </div>
  
      <input class="Submitbtn" type="submit" value="Submit" [disabled]="!feedbackForm.valid">
    </form>
  
    <div class="leftbox">
      <div class="boxcontent">
        <h3 class="til1">Contact us</h3>
        <p>Phone no.:<br>0123456789</p>
        <!-- <p>Email:<br>TheFoodysseyHaven@restaurant.com</p> -->
      </div>
    </div>
  </div>
  
  <footer>
    <div class="footer-container">
      <div class="left_footer">
        <div class="l">The Foodyssey Haven</div>
      </div>
  
      <div class="footer-info">
        <p class="address"><i class="uil uil-map-marker"></i>Shoppers Arcade, near Adani college, Adani Shantigram, Ahemdabad - 382352</p>
        <p class="phone"><i class="uil uil-phone"></i>0123456789</p>
        <p class="email"><i class="uil uil-envelope"></i>TheFoodysseyHaven</p>
      </div>
  
      <div class="footer-social">
        <a href="https://x.com/?lang=en" class="fa fa-twitter" target="_blank"></a>
        <a href="https://www.facebook.com/" class="fa fa-facebook" target="_blank"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
      </div>
    </div>
  
    <div class="footer-bottom">
      <div class="navigation_footer">
        <a routerLink="/homepage">Home</a>
        <a routerLink="/menu">Menu</a>
        <a routerLink="/about-us">About Us</a>
        <a routerLink="/feedback">Feedback</a>
      </div>
      <p>&copy; 2024 The Foodyssey Haven. All rights reserved.</p>
      <p>The Foodyssey Haven Co.</p>
    </div>
  </footer>
  