<div class="Container1">
  <div class="DetBox1">
    <p>Reserve your spot to enjoy a delicious meal at The Foodyssey Haven.</p>
    <h3>Our timings:</h3>
    <p>Weekends: <br> 10:30am - 11:30pm</p>
    <p>Weekdays: <br> 10:30am - 12:00pm</p>
  </div>
</div>

<div class="BookingContainer">
  <p>Book a Table</p>

  <form class="booking-form">
    <div class="FBForm">
      <!-- <label for="name" class="Lname" >Name:</label> -->
      <input type="text" class="field" placeholder="Your name" id="Uname" name="name" required>
      <i class="uil uil-user" id="FBIcon1"></i>
    </div>

    <div class="FBForm">
      <!-- <label for="email" class="Lname">Email:</label> -->
      <input type="email" class="field" placeholder="Your Email" id="Uemail" name="email" required>
      <i class="uil uil-envelope" id="FBIcon2"></i>
    </div>

    <div class="FBForm">
      <!-- <label for="phone" class="Lname">Contact:</label> -->
      <input type="tel" class="field" placeholder="Your Contact number" id="Uphone" name="phone" required>
      <i class="uil uil-phone" id="FBIcon3"></i>
    </div>

    <div class="FBForm">
      <!-- <label for="Rdate" class="Lname">Reservation Date:</label> -->
      <input type="date" class="field" placeholder="Reservation Date" id="URdate" name="Rdate" required>
      <i class="uil uil-calender" id="FBIcon4"></i>
    </div>

    <div class="FBForm">
      <!-- <label for="Rtime" class="Lname">Reservation Time:</label> -->
      <input type="time" class="field" placeholder="Reservation Time" id="URtime" name="Rtime" required>
      <i class="uil uil-clock" id="FBIcon5"></i>
    </div>

    <!-- <input type="text" placeholder="Your Name" required> -->
    <!-- <input type="email" placeholder="Your Email" required> -->
    <!-- <input type="tel" placeholder="Your Phone Number" required> -->
    <!-- <input type="date" placeholder="Reservation Date" required> -->
    <!-- <input type="time" placeholder="Reservation Time" required> -->
    <select id="UGno" required>
      <option value="" disabled selected>Number of Guests</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <button class="Submitbtn" type="submit">Book Now</button>
  </form>
  <script src="DineIn.js"></script>
</div>

<div class="Container2">
  <div class="DetBox2">
    <p>Today's Offer</p>
    <h2>Grab 40% with your family orders</h2>
    <p>Only for dining orders 🎉 </p>
  </div>
</div>

<tfh-footer/>