<div class="cont1">
  <div class="box11">
    <img src="assets/1.jpg" class="img1" />
  </div>

  <div class="box12">
    <h4>Welcome To The Foodyssey Haven</h4>
    <p>Welcome to The Foodyssey Haven, your go-to destination for convenient and delicious online restaurant orders...
    </p>
    <p>At The Foodyssey Haven, our mission is to provide you with a seamless online ordering experience...</p>
    <h5>Since 2020-2024</h5>
  </div>
</div>

<div class="cont2">
  <div class="box22">
    <h3>How it Works ?</h3>
    <p>Ordering your favorite meal through The Foodyssey Haven is simple. All you need to do is visit our website or use
      our user-friendly mobile app, which is available for both iOS and Android devices. Once you're on our
      platform, you can explore the restaurants in your area, browse their menus, and find the perfect dish
      that satisfies your cravings. We've partnered with a wide network of local restaurants, ensuring that
      you have a plethora of options to choose from.</p>
    <p>Once you've made your selection, you can customize your order, selecting any dietary preferences or
      special instructions. Our platform is designed to accommodate various dietary needs, whether you're
      vegetarian, vegan, gluten-free, or have any specific allergies.</p>
    <p>With just a few clicks, your order will be placed, and our efficient delivery partners will spring into
      action to bring your food straight to your door. We prioritize fast and reliable delivery, ensuring that
      your meal arrives piping hot and ready to be enjoyed.</p>
  </div>

  <div class="box21">
    <img src="assets/2.jpg" alt="" class="img2" />
  </div>
</div>

<div class="cont3">
  <div class="box32">
    <img src="assets/4.jpg" alt="" class="img3" />
  </div>

  <div class="box31">
    <div class="box31-icon">
      <i class="fa fa-leaf" id="icon1"></i>
      <i class="fa fa-truck" id="icon2"></i>
      <i class="fa fa-trophy" id="icon3"></i>
    </div>

    <div class="box31-include">
      <h3>Why Choose Us ?</h3>
      <h4>Wide Selection</h4>
      <p>We've curated a diverse selection of restaurants and cuisines, catering to different tastes and
          preferences. From your favorite local eateries to well-known chains, we've got it all.</p>
      <h4>Speedy Delivery</h4>
      <p>We value your time, and we strive to deliver your order as quickly as possible. Our delivery partners
          are dedicated to providing fast and efficient service, so you can enjoy your meal without unnecessary
          delays.</p>
      <h4>Trust and Safety</h4>
      <p>Your satisfaction and safety are our top priorities. We work closely with our partner restaurants to
          maintain the highest hygiene and safety standards. We also offer secure online payment options to
          ensure a worry-free experience.</p>
  </div>
  </div>
</div>

<tfh-footer/>