footer {
     font-family: var(--BodyFont);
     background-color: #2d2d2d;
     color: #fff;
     padding-bottom: 10px;
     font-size: 18px;
     text-align: center;
     position: relative;
     bottom: 0%;
 }
 
 :footer{
     --footer-height :120px;
 }
 
 .footer-container {
     font-family: var(--BodyFont);
     max-width: 1200px;
     margin: 0 auto;
     padding-top: 15px;
     display: flex;
     justify-content: space-between;
 }
 
 .footer-info {
     margin-top: 55px;
     flex-grow: 1;
     text-align: left;
 }
 
 .footer-info p {
     margin: 10px 0;
     font-size: 16px;
 }
 
 .address i, .phone i, .email i {
     margin-right: 10px;
 }
 
 .footer-social a {
     display: inline-block;
     margin-right: 5px;
     color: white;
     transition: 0.4s;
 }
 
 .footer-social a:hover {
     /* transform: translateY(-5px); */
     text-decoration: none;
     color: white;
     transform: scale(1.2);
     box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
 }
 
 .fa-facebook, .fa-twitter, .fa-instagram {
     border: 0.0625rem solid white;
 }
 
 .footer-bottom {
     transition-duration: 0.4s;
     margin-top: -17px;
 }
 
 .footer-bottom p {
     font-size: 12px;
 }
 
 .footer-bottom a {
     transition-duration: 0.4s;
     text-decoration: none;
     color: white;
     font-family: var(--BodyFont);
     padding: 20px 23px;
 }
 
 .fa {
     height: 40px;
     width: 40px;
     padding: 10px;
     text-align: center;
     text-decoration: none;
     margin: 10px 20px;
     border-radius: 50%;
 }
 
 .fa-facebook:before, .fa-twitter:before, .fa-instagram:before {
     /* content: "\f09a"; */
     font-size: 18px;
 }
 
 .left_footer div {
     color: var(--ColorStyle);
     line-height: 46px;
     font-size: 40px;
     text-align: center;
     justify-content: center;
     font-family: var(--LogoFont);
 }
 
 .left_footer {
     padding-top: 15px;
     display: inline-block;
     border-radius: 5%;
     position: absolute;
     left: 30px;
     top: 3px;
     text-decoration: solid;
     text-shadow: rgb(40, 25, 2);
 }
 
 .navigation_footer{
     font-family: var(--BodyFont);
     font-size: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
 }
     
 .navigation_footer a:hover {
     color: grey;
 }