<footer>
     <div class="footer-container">
          <div class="left_footer">
               <div class="l">The Foodyssey Haven</div>
          </div>

          <div class="footer-info">
               <p class="address"><i class="uil uil-map-marker"></i>Shoppers Arcade, near Adani college, Adani
                    Shantigram,
                    Ahmedabad - 382352</p>
               <p class="phone"><i class="uil uil-phone"></i>0123456789</p>
               <p class="email"><i class="uil uil-envelope"></i>The Foodyssey Haven restaurant.com</p>
          </div>

          <div class="footer-social">
               <a href="https://x.com/?lang=en" class="fa fa-twitter" target="_blank"></a>
               <a href="https://www.facebook.com/" class="fa fa-facebook" target="_blank"></a>
               <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
          </div>
     </div>

     <div class="footer-bottom">
          <div class="navigation_footer">
               <a routerLink="">Home</a>
               <a routerLink="/menu">Menu</a>
               <a routerLink="/aboutus">AboutUs</a>
               <a routerLink="/feedback">Feedback</a>
          </div>
          <p>&copy; 2024 The Foodyssey Haven. All rights reserved.</p>
          <p>The Foodyssey Haven Co.</p>
     </div>
</footer>
<router-outlet></router-outlet>
