<div class="navbar-container">
     <div class="left-symbol-logo">The Foodyssey Haven</div>

     <div class="Menubar">
          <a href="Homepage.html" target="_blank">Home</a>
          <a id="menu" href="" target="_blank">Menu</a>
          <a href="Aboutus.html" target="_blank">AboutUs</a>
          <a href="Feedback.html" target="_blank">Feedback</a>
     </div>

     <div class="right">
          <button id="button" onclick="window.location.href='Login1.html';">Sign In</button>
     </div>

</div>