<div class="cont1">
    <div class="menu-container">
        <!-- Previous Button -->
        <button class="lrNav" id="prev-btn">
            <i class="uil uil-arrow-circle-left"></i>
        </button>

        <!-- Book -->
        <div id="book" class="book">
            <div id="p1" class="paper">
                <div class="front">
                    <div id="f1" class="front-content">
                        <div class="left">
                            <i class="uil uil-restaurant"></i>
                            <h1 class="symbol">&nbsp;The Foodyssey Haven&nbsp;</h1>
                            <i class="uil uil-utensils-alt"></i>
                        </div>
                        <h1 class="front1text">MENU</h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <div class="left">
                            <i class="uil uil-restaurant"></i>
                            <h1 class="symbol">&nbsp;&nbsp;The Foodyssey Haven&nbsp;&nbsp;</h1>
                            <i class="uil uil-utensils-alt"></i>
                        </div>
                        <div class="BoxMenu1">
                            <div class="soup">
                                <ul>
                                    <h4>~ Soups ~</h4>
                                    <li>
                                        Cream of Tomato ------------------------------------------------------------ 90
                                        Rs.
                                    </li>
                                    <li>
                                        Cheese corn Soup ---------------------------------------------------------- 105
                                        Rs.
                                    </li>
                                    <li>
                                        Almond Broccoli Soup ----------------------------------------------------- 105
                                        Rs.
                                    </li>
                                    <li>
                                        Hot & Sour Soup ------------------------------------------------------------ 105
                                        Rs.
                                    </li>
                                    <li>
                                        Sweet Corn Soup ------------------------------------------------------------ 110
                                        Rs.
                                    </li>
                                    <img src="ProjectImages/SoupImg.jpg" id="SoupImg" alt="Creamy Soup" />
                                </ul>
                            </div>
                            <div class="appetisers">
                                <ul>
                                    <h4>~ Appetisers ~</h4>
                                    <li>
                                        Veg Manchurian ------------------------------------------------------------ 150
                                        Rs.
                                    </li>
                                    <li>
                                        Spring Roll --------------------------------------------------------------- 130
                                        Rs.
                                    </li>
                                    <li>
                                        Paneer chilly dry ------------------------------------------------------------
                                        150 Rs.
                                    </li>
                                    <li>
                                        Harabhara Kebab --------------------------------------------------------- 120
                                        Rs.
                                    </li>
                                    <li>
                                        Hakka Noodles -------------------------------------------------------------- 150
                                        Rs.
                                    </li>
                                    <img src="ProjectImages/HakkaNoodlesImg.jpg" id="HNImg" alt="Hakka Noodles" />
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Repeat for other papers and sections (p2, p3, etc.) -->
        </div>

        <!-- Next Button -->
        <button class="lrNav" id="next-btn">
            <i class="uil uil-arrow-circle-right"></i>
        </button>
    </div>
</div>

<footer>
    <div class="footer-container">
        <div class="left_footer">
            <div class="l">The Foodyssey Haven</div>
        </div>

        <div class="footer-info">
            <p class="address"><i class="uil uil-map-marker"></i>Shoppers Arcade, near Adani college, Adani Shantigram,
                Ahmedabad - 382352</p>
            <p class="phone"><i class="uil uil-phone"></i>0123456789</p>
            <p class="email"><i class="uil uil-envelope"></i>TheFoodysseyHavenrestau.com</p>
        </div>

        <div class="footer-social">
            <a href="https://x.com/?lang=en" class="fa fa-twitter" target="_blank"></a>
            <a href="https://www.facebook.com/" class="fa fa-facebook" target="_blank"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="navigation_footer">
            <a href="Homepage.html" target="_blank">Home</a>
            <a id="menu" href="" target="_blank">Menu</a>
            <a href="Aboutus.html" target="_blank">AboutUs</a>
            <a href="Feedback.html" target="_blank">Feedback</a>
        </div>
        <p>&copy; 2024 The Foodyssey Haven. All rights reserved.</p>
        <p>The Foodyssey Haven Co.</p>
    </div>
</footer>