<div class="cont1">
    <div class="menu-container">
        <!-- Previous Button -->
        <button class="lrNav" id="prev-btn" (click)="goPrevPage()">
            <i class="uil uil-arrow-circle-left"></i>
        </button>

        <!-- Book -->
        <div id="book" class="book">
            <!-- paper - 1 -->
            <div id="p1" class="paper">
                <div class="front">
                    <div id="f1" class="front-content">
                        <div class="left">
                            <i class="uil uil-restaurant"></i>
                            <h1 class="symbol">&nbsp;The Foodyssey Haven&nbsp;</h1>
                            <i class="uil uil-utensils-alt"></i>
                        </div>
                        <h1 class="front1text">MENU</h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <div class="left">
                            <i class="uil uil-restaurant"></i>
                            <h1 class="symbol">&nbsp;&nbsp;The Foodyssey Haven&nbsp;&nbsp;</h1>
                            <i class="uil uil-utensils-alt"></i>
                        </div>
                        <div class="BoxMenu1">
                            <div class="soup">
                                <ul>
                                    <h4>~ Soups ~</h4>
                                    <li>
                                        Cream of Tomato ------------------------------------------------------------ 90
                                        Rs.
                                    </li>
                                    <li>
                                        Cheese corn Soup ---------------------------------------------------------- 105
                                        Rs.
                                    </li>
                                    <li>
                                        Almond Broccoli Soup ----------------------------------------------------- 105
                                        Rs.
                                    </li>
                                    <li>
                                        Hot & Sour Soup ------------------------------------------------------------ 105
                                        Rs.
                                    </li>
                                    <li>
                                        Sweet Corn Soup ------------------------------------------------------------ 110
                                        Rs.
                                    </li>
                                    <img src="assets/SoupImg.jpg" id="SoupImg" alt="Creamy Soup" />
                                </ul>
                            </div>
                            <div class="appetisers">
                                <ul>
                                    <h4>~ Appetisers ~</h4>
                                    <li>
                                        Veg Manchurian ------------------------------------------------------------ 150
                                        Rs.
                                    </li>
                                    <li>
                                        Spring Roll --------------------------------------------------------------- 130
                                        Rs.
                                    </li>
                                    <li>
                                        Paneer chilly dry ------------------------------------------------------------
                                        150 Rs.
                                    </li>
                                    <li>
                                        Harabhara Kebab --------------------------------------------------------- 120
                                        Rs.
                                    </li>
                                    <li>
                                        Hakka Noodles -------------------------------------------------------------- 150
                                        Rs.
                                    </li>
                                    <img src="assets/HakkaNoodlesImg.jpg" id="HNImg" alt="Hakka Noodles" />
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="p2" class="paper">
                <div class="front">
                    <div id="f2" class="front-content">
                        <div class="left">
                            <i class="uil uil-restaurant"></i>
                            <h1 class="symbol">&nbsp;&nbsp;The Foodyssey Haven&nbsp;&nbsp;</h1>
                            <i class="uil uil-utensils-alt"></i>
                        </div>
                        <div class="BoxMenu2">
                            <div class="maincourse">
                                <ul>
                                    <h4>~ Main Course ~</h4>
                                    <li>
                                        Paneer Butter Masala
                                        ---------------------------------------------------- 180
                                        Rs.
                                    </li>
                                    <li>
                                        Mix Vegetable
                                        ---------------------------------------------------------------
                                        180 Rs.
                                    </li>
                                    <li>
                                        Cheese Butter Masala
                                        --------------------------------------------------- 200
                                        Rs.
                                    </li>
                                    <li>
                                        Veg Handi Masala
                                        ---------------------------------------------------------
                                        180 Rs.
                                    </li>
                                    <li>
                                        Paneer Kadhai
                                        ---------------------------------------------------------------
                                        180 Rs.
                                    </li>
                                    <li>
                                        Veg Makhanwala
                                        -----------------------------------------------------------
                                        190 Rs.
                                    </li>
                                    <li>
                                        Paneer Handi
                                        ----------------------------------------------------------------
                                        180 Rs.
                                    </li>
                                    <li>
                                        Khoya Kaju
                                        -------------------------------------------------------------------
                                        200 Rs.
                                    </li>
                                    <li>
                                        Paneer Tikka Masala
                                        ---------------------------------------------------- 200
                                        Rs.
                                    </li>
                                    <li>
                                        Veg Kolhapuri
                                        ----------------------------------------------------------------
                                        180 Rs.
                                    </li>
                                    <li>
                                        Shahi Tikka Masala
                                        -------------------------------------------------------
                                        220 Rs.
                                    </li>
                                    <li>
                                        Malai Khofta
                                        ----------------------------------------------------------------
                                        200 Rs.
                                    </li>
                                    <li>
                                        Paneer Bhurji
                                        ----------------------------------------------------------------
                                        200 Rs.
                                    </li>
                                    <li>
                                        Dum Aloo
                                        ----------------------------------------------------------------------
                                        180 Rs.
                                    </li>
                                    <img src="assets/PBMImg.png" id="PBMImg" alt="Paneer Butter Masala Sabji" />
                                    <img src="assets/KhoyaKaju.jpg" id="KhoyaKaju" alt="Khoya Kaju Sabji" />
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="back">
                    <div id="b2" class="back-content">
                        <div class="left">
                            <i class="uil uil-restaurant"></i>
                            <h1 class="symbol">&nbsp;&nbsp;The Foodyssey Haven&nbsp;&nbsp;</h1>
                            <i class="uil uil-utensils-alt"></i>
                        </div>
                        <div class="BoxMenu3">
                            <div class="roti">
                                <ul>
                                    <h4>~ Roti ~</h4>
                                    <li>
                                        Plain Roti
                                        ------------------------------------------------------------------------
                                        20 Rs.
                                    </li>
                                    <li>
                                        Butter Roti
                                        -----------------------------------------------------------------------
                                        30 Rs.
                                    </li>
                                    <li>
                                        Naan
                                        ------------------------------------------------------------------------------
                                        40 Rs.
                                    </li>
                                    <li>
                                        Cheese Naan
                                        -------------------------------------------------------------------
                                        65 Rs.
                                    </li>
                                    <li>
                                        Butter Paratha
                                        -----------------------------------------------------------------
                                        60 Rs.
                                    </li>
                                    <img src="assets/NaanImg.jpg" id="NaanImg" alt="Butter Naan" />
                                </ul>
                            </div>

                            <div class="rice">
                                <ul>
                                    <h4>~ Rice ~</h4>
                                    <li>
                                        Plain Rice
                                        -----------------------------------------------------------------------
                                        100 Rs.
                                    </li>
                                    <li>
                                        Jeera Rice
                                        -----------------------------------------------------------------------
                                        130 Rs.
                                    </li>
                                    <li>
                                        Veg Pulao
                                        -----------------------------------------------------------------------
                                        150 Rs.
                                    </li>
                                    <li>
                                        Veg Biryani
                                        --------------------------------------------------------------------
                                        200 Rs.
                                    </li>
                                    <li>
                                        Hydrabadi Biryani
                                        ----------------------------------------------------------
                                        220 Rs.
                                    </li>
                                    <img src="assets/VegBiryaniImg.jpg" id="VegBiryaniImg" alt="Veg Biryani" />
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Paper 3 -->
            <div id="p3" class="paper">
                <div class="front">
                    <div id="f3" class="front-content">
                        <div class="left">
                            <i class="uil uil-restaurant"></i>
                            <h1 class="symbol">&nbsp;&nbsp;The Foodyssey Haven&nbsp;&nbsp;</h1>
                            <i class="uil uil-utensils-alt"></i>
                        </div>
                        <div class="BoxMenu4">
                            <div class="desserts">
                                <ul>
                                    <h4>~ Desserts ~</h4>
                                    <li>
                                        Gulab Jamun
                                        -------------------------------------------------------------------
                                        85 Rs.
                                    </li>
                                    <li>
                                        Jalebi
                                        ------------------------------------------------------------------------------
                                        75 Rs.
                                    </li>
                                    <li>
                                        Rasgulla
                                        -------------------------------------------------------------------------
                                        80 Rs.
                                    </li>
                                    <li>
                                        Vanilla Ice Cream
                                        ------------------------------------------------------------
                                        50 Rs.
                                    </li>
                                    <li>
                                        Cookie Cream Ice Cream
                                        ------------------------------------------------- 70 Rs.
                                    </li>
                                    <li>
                                        Choco Lava Cake
                                        ----------------------------------------------------------
                                        100 Rs.
                                    </li>
                                    <img src="assets/GulabJamun.jpg" id="GulabJamun" alt="Gulab Jamun" />
                                </ul>
                            </div>

                            <div class="fixthali">
                                <ul>
                                    <h4>~ Fix Thali ~</h4>
                                    <li>
                                        Punjabi Thali
                                        -----------------------------------------------------------------
                                        250 Rs.
                                    </li>
                                    <li>
                                        Gujarati Thali
                                        ---------------------------------------------------------------
                                        200 Rs.
                                    </li>
                                    <li>
                                        Dal Bati
                                        ------------------------------------------------------------------------
                                        180 Rs.
                                    </li>
                                    <li>
                                        Chole Puri/Kulcha
                                        ----------------------------------------------------------
                                        180 Rs.
                                    </li>
                                    <img src="assets/PunjabiThaliImg.jpg" id="PunjabiThaliImg"
                                        alt="Punjabi Thali" />
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="back">
                    <div id="b3" class="back-content">
                        <div class="left">
                            <i class="uil uil-restaurant"></i>
                            <h1 class="symbol">&nbsp;&nbsp;The Foodyssey Haven&nbsp;&nbsp;</h1>
                            <i class="uil uil-utensils-alt"></i>
                        </div>
                        <h1 class="back3text">END</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Next Button -->
        <button class="lrNav" id="next-btn" (click)="goNextPage()">
            <i class="uil uil-arrow-circle-right"></i>
        </button>
    </div>
</div>

<footer>
    <div class="footer-container">
        <div class="left_footer">
            <div class="l">The Foodyssey Haven</div>
        </div>

        <div class="footer-info">
            <p class="address"><i class="uil uil-map-marker"></i>Shoppers Arcade, near Adani college, Adani Shantigram,
                Ahmedabad - 382352</p>
            <p class="phone"><i class="uil uil-phone"></i>0123456789</p>
            <p class="email"><i class="uil uil-envelope"></i>TheFoodysseyHavenrestau.com</p>
        </div>

        <div class="footer-social">
            <a href="https://x.com/?lang=en" class="fa fa-twitter" target="_blank"></a>
            <a href="https://www.facebook.com/" class="fa fa-facebook" target="_blank"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="navigation_footer">
            <a href="Homepage.html" target="_blank">Home</a>
            <a id="menu" href="" target="_blank">Menu</a>
            <a href="Aboutus.html" target="_blank">AboutUs</a>
            <a href="Feedback.html" target="_blank">Feedback</a>
        </div>
        <p>&copy; 2024 The Foodyssey Haven. All rights reserved.</p>
        <p>The Foodyssey Haven Co.</p>
    </div>
</footer>