body{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --LogoFont: 'Glass Antiqua', cursive;
    --BodyFont: "Josefin Sans", sans-serif;
    --ColorStyle: #ff6961;
    --FontSize: 14px; 
}

.menu-container {
    margin-bottom: 6rem;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

/* Book */
.book {
    position: relative;
    width: 400px;
    height: 35rem;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: 0.5s;
    border-radius: 10px;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid black;
    border-radius: 10px;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    background-color: transparent;
    outline: none;
    border: none;
}

.lrNav button {
    cursor: pointer;
    margin: 10rem;
    transition-duration: 0.5s;
    outline: none;
    border: none;
}

.lrNav:focus {
    outline: none;
    border: none;
}

button i, .left i {
    font-size: 50px;
}

button#prev-btn i, button#next-btn i {
    font-size: 5rem;
    margin: 5rem;
    color: white;
}

button#prev-btn:hover i, button#next-btn:hover i {
    color: rgb(90, 90, 90);
}

/* Paper stack order */
#p1 { z-index: 3; }
#p2 { z-index: 2; }
#p3 { z-index: 1; }

.front1text, .back3text {
    width: 20rem;
    text-align: center;
    font-family: var(--BodyFont);
    font-size: 5rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 25px;
    padding-bottom: 5px;
}

.symbol{
    color: var(--ColorStyle);
    font-weight: bold;
    line-height: 46px;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    font-family: var(--LogoFont); 
}

.left{
    display: flex;
    position: absolute;
    top: 1rem;
}

.left i {
    position: relative;
    top: -1rem
}

.BoxMenu1, .BoxMenu2, .BoxMenu3, .BoxMenu4 {
    position: relative;
    top: 2rem;
    background-color: white;
    color: black;
}
.BoxMenu1 h4, .BoxMenu1 ul, 
.BoxMenu2 h4, .BoxMenu2 ul, 
.BoxMenu3 h4, .BoxMenu3 ul,
.BoxMenu4 h4, .BoxMenu4 ul {
    font-family: var(--LogoFont);
    text-align: center;
    padding: 0px;
    font-size: 22px;
    font-weight: bold;
}
.BoxMenu1 li, .BoxMenu2 li, .BoxMenu3 li, .BoxMenu4 li {
    list-style: none;
    font-family: var(--BodyFont);
    font-style: italic;
    text-align: center;
    font-size: 11px;
    padding: -2rem;
    line-height: 0.9rem;
    font-weight: normal;
}

#SoupImg, #HNImg, #NaanImg, #VegBiryaniImg, #GulabJamun, #PunjabiThaliImg {
    border: 2px solid grey;
    height: 5rem;
    width: 5rem;
    margin-top: 1rem;
    border-radius: 1.25rem;
}

.BoxMenu2 h4, .BoxMenu2 ul { margin-top: 0.1rem; }
.BoxMenu2 li { line-height: 1.25rem; }

#PBMImg, #KhoyaKaju {
    border: 2px solid grey;
    height: 5rem;
    width: 5rem;
    border-radius: 1.25rem;
    margin: 1rem 2rem;
}

.top{
    width: 100%;
    height: auto;
    padding: 0px;
}

.Menubar {
    border-bottom: 2px solid white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: var(--BodyFont);
    font-size: 20px;
    margin: 27px auto;
    padding-bottom: 13px;
    font-weight: lighter;
    transition-duration: 0.4s;
}
.Menubar a{
    transition-duration: 0.3s;
    text-decoration: none;
    font-weight: lighter;
    color: white ;
}
.Menubar a:hover{
    font-weight: lighter;
    color: grey;
}
.Menubar #menu {
    font-weight: bolder;
    color: white;
}

.symbol-logo {
    color: var(--ColorStyle);
    font-weight: bold;
    line-height: 46px;
    font-size: 2.7rem;
    text-align: center;
    justify-content: center;
    font-family: var(--LogoFont); 
}

.left-symbol{
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 18px;
}

.right{
    border: 1px solid gray;
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 15px;
    border-radius: 30px;
    padding: 8px 30px;
    padding-bottom: 6px;
    padding-top: 6px;
    font-family: var(--BodyFont);
    background-color: black;
    color: white;
}

.right #button{
    background-color: black;
    color: white;
    border: none;
    padding: 0px;
    font-family: var(--BodyFont);
    font-size: 16px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */

footer {
    font-family: var(--BodyFont);
    background-color: #2d2d2d;
    color: #fff;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
    position: relative;
    bottom: 0%;
}

:footer{
    --footer-height :120px;
}

.footer-container {
    font-family: var(--BodyFont);
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.footer-info {
    margin-top: 55px;
    flex-grow: 1;
    text-align: left;
}

.footer-info p {
    margin: 10px 0;
    font-size: 16px;
}

.address i, .phone i, .email i {
    margin-right: 10px;
}

.footer-social a {
    display: inline-block;
    margin-right: 5px;
    color: white;
    transition: 0.4s;
}

.footer-social a:hover {
    /* transform: translateY(-5px); */
    text-decoration: none;
    color: white;
    transform: scale(1.2);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.fa-facebook, .fa-twitter, .fa-instagram {
    border: 0.0625rem solid white;
}

.footer-bottom {
    transition-duration: 0.4s;
    margin-top: -17px;
}

.footer-bottom p {
    font-size: 12px;
}

.footer-bottom a {
    transition-duration: 0.4s;
    text-decoration: none;
    color: white;
    font-family: var(--BodyFont);
    padding: 20px 23px;
}

.fa {
    height: 40px;
    width: 40px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 10px 20px;
    border-radius: 50%;
}

.fa-facebook:before, .fa-twitter:before, .fa-instagram:before {
    /* content: "\f09a"; */
    font-size: 18px;
}

.left_footer div {
    color: var(--ColorStyle);
    line-height: 46px;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    font-family: var(--LogoFont);
}

.left_footer {
    padding-top: 15px;
    display: inline-block;
    border-radius: 5%;
    position: absolute;
    left: 30px;
    top: 3px;
    text-decoration: solid;
    text-shadow: rgb(40, 25, 2);
}

.navigation_footer{
    font-family: var(--BodyFont);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.navigation_footer a:hover {
    color: grey;
}