<div class="top">
     <div class="left">
          <div class="symbol">The Foodyssey Haven</div>
     </div>

     <div class="Menubar">
          <a routerLink="home" >&nbsp;&nbsp;&nbsp;&nbsp;Home</a>
          <a routerLink="menu" >Menu</a>
          <a routerLink="aboutus" >AboutUs</a>
          <a routerLink="feedback" >Feedback&nbsp;&nbsp;&nbsp;&nbsp;</a>
     </div>

     <div class="right">
          <button id="button" (click)="openLogin()">Sign In</button>
     </div>
</div>
<router-outlet></router-outlet>